.form-main {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 30px;
}

.input-name {
  margin: 10px;
  width: 30%;

  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid;
}

.input-description {
  width: 30%;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  border: 2px solid;
}

.input-button {
  margin: 10px 0;
  width: 200px;
  height: 30px;

  border: none;

  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  background-color: slategray;
  transition: 0.5s;

  cursor: pointer;
}

.input-button:hover {
  background-color: #fff;
  border: 2px solid slategray;
  color: slategray;
}
